<div class="splitcontentleft">
  <% i = 0 %>
  <% split_on = (@issue.custom_field_values.size / 2.0).ceil - 1 %>
  <% @issue.custom_field_values.each do |value| %>
    <% if value.custom_field.id == 59%>
      <p><%= custom_check_box_tag_with_label :issue, value %></p>
      <% if i == split_on -%>
      </div><div class="splitcontentright">
      <% end -%>
      <% i += 1 -%>
    <% end %>
  <% end -%>
</div>
<div style="clear:both;"> </div>