<p>
  <label><%=h l(:label_issue_favicon) %></label>
  <%if @user.admin==true%>
    <%= check_box :pref, 'issue_favicon'%>
  <%else%>
    <%= check_box :pref, 'issue_favicon', :disabled=>true %>
  <%end%>
</p>