<p>Estimado cliente,
  Hemos cerrado un caso atendido por el Cobis Service Desk. Le agradecemos ingresar al 
  siguiente enlace y llenar la encuesta para conocer su opinión respecto a la atención brindada 
  en este soporte: <%= link_to h(@url), @url %></p>
